<div>
    <nz-layout>
      <nz-header>
        <ul nz-menu nzTheme="dark" nzMode="horizontal" class="header-menu">
          <li nz-menu-item routerLink="/Administration" routerLinkActive="active">Administration</li>
          <li nz-menu-item routerLink="/Adminprvp" routerLinkActive="active">AdminPrVp</li>
          <li nz-menu-item routerLink="/Election" routerLinkActive="active">Election</li>
          <li nz-menu-item routerLink="/Preshobby" routerLinkActive="active">PresHobby</li>
          <li nz-menu-item nzSelected routerLink="/President" routerLinkActive="active">President</li>
          <li nz-menu-item routerLink="/Presmarriage" routerLinkActive="active">PresMarriage</li>
          <li nz-menu-item routerLink="/State" routerLinkActive="active">State</li>
          <div id="datetime" class="datetime">{{ datetime }}</div>
        </ul>
        <div class="example-input">
          <input nz-input placeholder="Search President" nzSize="default" [(ngModel)]="searchTerm" (ngModelChange)="onSearch()" />
          <button nz-button nzType="primary" (click)="onSearch()">
            <i nz-icon nzType="search"></i>Search
          </button>
          <button class="botton-margin" nz-button nz-dropdown [nzDropdownMenu]="menu4">
            Select <i nz-icon nzType="down"></i>
          </button>
          <nz-dropdown-menu #menu4="nzDropdownMenu">
            <ul nz-menu nzMode="horizontal">
              <li nz-menu-item routerLink="/Administration" routerLinkActive="active">Administration</li>
              <li nz-menu-item routerLink="/Adminprvp" routerLinkActive="active">AdminPrVp</li>
              <li nz-menu-item routerLink="/Election" routerLinkActive="active">Election</li>
              <li nz-menu-item routerLink="/Preshobby" routerLinkActive="active">PresHobby</li>
              <li nz-menu-item nzSelected routerLink="/President" routerLinkActive="active">President</li>
              <li nz-menu-item routerLink="/Presmarriage" routerLinkActive="active">PresMarriage</li>
              <li nz-menu-item routerLink="/State" routerLinkActive="active">State</li>
            </ul>
          </nz-dropdown-menu>
        </div>
      </nz-header>
      <nz-layout class="inner-layout">
        <nz-content>
          <div>
            <h1 class="header">{{ tableTitle }}</h1>
            <nz-table #filterTable [nzData]="filteredData" [nzPageSize]="50" [nzScroll]="{ y: 'auto' }">
              <thead>
                <tr>
                  <th *ngFor="let column of listOfColumns"
                    [nzSortOrder]="column.sortOrder"
                    [nzSortFn]="column.sortFn"
                    [nzSortDirections]="column.sortDirections"
                    [nzFilterMultiple]="column.filterMultiple"
                    [nzFilters]="column.listOfFilter"
                    [nzFilterFn]="column.filterFn">
                    {{ column.name }}
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let president of filterTable.data">
                  <td>{{ president.presName }}</td>
                  <td>{{ president.birthYr }}</td>
                  <td>{{ president.yrsServ }}</td>
                  <td>{{ president.deathAge }}</td>
                  <td>{{ president.party }}</td>
                  <td>{{ president.stateBorn }}</td>
                </tr>
              </tbody>
            </nz-table>
          </div>
        </nz-content>
      </nz-layout>
    </nz-layout>
  </div>
  