body,
html {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: #f4f4f9;
}

.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 64px);
    background: linear-gradient(to bottom right, #0f2027, #203a43, #2c5364), no-repeat center center;
    background-size: cover;
    color: #fff;
    text-align: center;
    padding: 20px;
    animation: fadeIn 2s ease-in-out;
}

h1 {
    font-size: 48px;
    margin-bottom: 20px;
    animation: slideInFromLeft 1s ease-out;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    color: #fff;
}

p {
    font-size: 24px;
    margin-bottom: 40px;
    color: #fff;
    animation: slideInFromRight 1s ease-out;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.main-button {
    padding: 15px 30px;
    font-size: 18px;
    color: #fff;
    background-color: #ff6f61;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    animation: fadeInUp 1s ease-out;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
}

.main-button:hover {
    background-color: #e55b51;
    transform: scale(1.05);
}

/* Keyframes for animations */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes slideInFromLeft {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideInFromRight {
    from {
        transform: translateX(100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes fadeInUp {
    from {
        transform: translateY(100%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

