<div>
    <nz-layout>
        <nz-header>
            <ul nz-menu nzTheme="dark" nzMode="horizontal" class="header-menu">
                <li nz-menu-item routerLink="/Administration" routerLinkActive="active">Administration</li>
                <li nz-menu-item routerLink="/Adminprvp" routerLinkActive="active">
                    AdminPrVp</li>
                <li nz-menu-item routerLink="/Election" routerLinkActive="active">
                    Election</li>
                <li nz-menu-item routerLink="/Preshobby" routerLinkActive="active">
                    PresHobby</li>
                <li nz-menu-item routerLink="/President" routerLinkActive="active">
                    President</li>
                <li nz-menu-item routerLink="/Presmarriage" routerLinkActive="active">PresMarriage</li>
                <li nz-menu-item routerLink="/State" routerLinkActive="active">State
                </li>
                <div id="datetime" class="datetime">{{ datetime }}</div>
            </ul>
        </nz-header>
    </nz-layout>
</div>