/* You can add global styles to this file, and also import other style files */
@import "~ng-zorro-antd/ng-zorro-antd.min.css";

.example-input .ant-input {
    width: 150px;
    margin: 0 8px 8px 0;
}

.header-menu {
    line-height: 64px;
}

.botton-margin {
    margin-left: 10px;
}

.header {
    text-align: center;
}

.datetime {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #ffffff;
    font-size: 16px;
}

.age-range-buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    margin-left: 10px;
    margin-top: 10px;
}

.age-range-buttons button {
    margin-bottom: 5px;
}